In [1]:
import pandas as pd
from fuzzywuzzy import fuzz

In [2]:
out = pd.read_csv('./Text_output_edit.csv')

In [3]:
out.head()

,Image_Name,OCR_output,Confidence_Score
0,A NETHRA_84.jpg,KONGU Thank and SELENGNEERINGCOLLEGE (Autonomo...,0.448693
1,A.BALA_26.jpg,I 185006 www.kince.edu BALAVIGNESHA INFORNATON...,0.454666
2,NaN,NaN,NaN
3,Aadarsh S_58.jpg,Concenterstands BMS Mincalorfash COLLEGEOFENGM...,0.465050
4,NaN,NaN,NaN

In [4]:
out = out.dropna(axis = 0 )

In [5]:
truth = pd.read_csv("./ID verification data_ MOOC - ID details mooc.csv")

In [6]:
truth.head()

,name,college_name,email,upload,accept_reject,verify_remarks
0,Zayaan Muthair,"Dr. D. Y. Patil Institute Of Technology, Pune",Zayaanmohd786@gmail.com,Zayaan_2.jpg,1.0,NaN
1,Vivek Pandey,KCC Institute of Technology & Management,vivekpandeykcc09032002@gmail.com,Vivek_99.,0.0,ID card not uploaded
2,Vikrant Fernandes,"Indian Institute of Technology, Bombay",vikrant@e-yantra.org,Vikrant_40.jpg,0.0,NaN
3,Vignesh J P,R.M.K Engineering College,vign18328.ee@rmkec.ac.in,Vignesh_73.jfif,0.0,ID card not uploaded
4,Vanita Kolhatkar,H.S.B.P.V.T's Parikrama College of Engineering,vanitakolhatkar0@gmail.com,Vanita_22.jpg,0.0,ID card not uploaded

In [7]:
def image_index(image_name):
    for k, m  in enumerate(truth['upload']):
        if m == image_name:
            return k

In [8]:
for i, j  in enumerate(out['Image_Name']):
    ind = image_index(j)
    tr = truth.iloc[ind,0]+truth.iloc[ind,1]
    out.iloc[i,3] = tr

IndexError: single positional indexer is out-of-bounds

In [9]:
def remove(string): 
    return string.replace(" ", "")

In [10]:
out.head()

,Image_Name,OCR_output,Confidence_Score
0,A NETHRA_84.jpg,KONGU Thank and SELENGNEERINGCOLLEGE (Autonomo...,0.448693
1,A.BALA_26.jpg,I 185006 www.kince.edu BALAVIGNESHA INFORNATON...,0.454666
3,Aadarsh S_58.jpg,Concenterstands BMS Mincalorfash COLLEGEOFENGM...,0.465050
5,Aadit_46.jpg,2018-2022 MUKESHPATELSCHOOLOF TECHNOLOGYMANAGE...,0.461207
7,AAKAS UPENDRA_27.jpeg,Error Occured,-1.000000

In [11]:
for i, j  in enumerate(out['OCR_output']):
    Str1 = remove(j)
    Str2 = remove(out.iloc[i,3])
    Ratio = fuzz.ratio(Str1.lower(),Str2.lower())
    Partial_Ratio = fuzz.partial_ratio(Str1.lower(),Str2.lower())
    Token_Sort_Ratio = fuzz.token_sort_ratio(Str1,Str2)
    Token_Set_Ratio = fuzz.token_set_ratio(Str1,Str2)
    out.iloc[i,4] = Ratio
    out.iloc[i,5] = Partial_Ratio
    out.iloc[i,6] = Token_Sort_Ratio
    out.iloc[i,7] = Token_Set_Ratio

IndexError: single positional indexer is out-of-bounds

In [12]:
out_f = pd.read_csv('out_scores.csv')

In [13]:
out_f.head()

,Unnamed: 0,Image_Name,OCR_output,Confidence_Score,truth,Ratio,Partial_Ratio,Token_sort_Ratio,Token_set_Ratio,label
0,0,A NETHRA_84.jpg,KONGU Thank and SELENGNEERINGCOLLEGE (Autonomo...,0.448693,A NETHRA KRUPAKongu Engineering College,26,63,36,36,1.0
1,1,A.BALA_26.jpg,I 185006 www.kince.edu BALAVIGNESHA INFORNATON...,0.454666,A.BALA VIGNESHK.L.N. College of Engineering,28,72,26,26,1.0
2,3,Aadarsh S_58.jpg,Concenterstands BMS Mincalorfash COLLEGEOFENGM...,0.465050,Aadarsh S BhatBMS College of Engineering,42,63,44,44,1.0
3,5,Aadit_46.jpg,2018-2022 MUKESHPATELSCHOOLOF TECHNOLOGYMANAGE...,0.461207,Aadit ShahMukesh Patel School Of Technology Ma...,42,80,45,45,1.0
4,7,AAKAS UPENDRA_27.jpeg,Error Occured,-1.000000,AAKAS UPENDRA LR.M.K Engineering College,25,33,25,25,0.0

In [14]:
x = out_f.iloc[:,5:9]

In [15]:
y = out_f.iloc[:,9]

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
from sklearn import svm
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [19]:
import matplotlib.pyplot as plt

In [20]:
model_1 = LinearRegression()

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2)

In [23]:
model_1.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
y_pred = model_1.predict(x_test)

In [25]:
mean_squared_error(y_test,y_pred)

0.07244605348021596

In [189]:
y_pred

array([0.22321717, 0.72349939, 0.75346097, 0.09465571, 0.32869783,
       0.32041391, 0.73279918, 0.41424511, 0.3562087 , 0.61728059,
       0.51111296, 0.51705944, 0.29640855, 0.4169017 , 0.32270991,
       0.21335342])

In [190]:
y_test

59    0.75
48    0.50
15    0.75
26    0.00
23    0.00
40    0.50
38    0.50
56    0.25
69    0.00
50    0.00
39    0.75
47    0.00
35    0.00
16    0.50
67    0.00
45    0.25
Name: label, dtype: float64

In [192]:
polynomial_features= PolynomialFeatures(degree=2)
x_poly = polynomial_features.fit_transform(x_train)

model = LinearRegression()
model.fit(x_poly, y_train)
y_poly_pred = model.predict(polynomial_features.fit_transform(x_test))

In [193]:
y_test

59    0.75
48    0.50
15    0.75
26    0.00
23    0.00
40    0.50
38    0.50
56    0.25
69    0.00
50    0.00
39    0.75
47    0.00
35    0.00
16    0.50
67    0.00
45    0.25
Name: label, dtype: float64

In [194]:
y_poly_pred

array([ 0.2382847 ,  0.71729741,  0.79283715,  0.11115999,  0.34021177,
       -0.06642442,  0.712259  ,  0.4211356 ,  0.35747448,  0.63301631,
        0.55023683,  0.47450914,  0.29546553,  0.25767838,  0.33423116,
        0.22242042])

In [195]:
mean_squared_error(y_test,y_poly_pred)

0.11788980396656437